:root {
    --accent-color: #2196F3;
    --headers-color: #212121;
    --text-color: #757575;
    --background-whitetext-color: #FFFFFF;
    --background-grey-color: #F5F4FA;
    --background-durk-color: #2F303A;
    --footer-contact-color:  rgba(255, 255, 255, 0.6);

}

body {
    color: var(--text-color);

    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--headers-color);
}

.list{
    list-style: none;
    
}
.link{
    text-decoration: none;
}

/* логотип компании */
.logo-accent{
    color: var(--accent-color);
}
.logo{
    color: var(--headers-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
     
}
.menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
   
}

/* навигация ссылок */
.link-nav {
    color: var(--headers-color);
}
.current{
    color: var(--accent-color);
}
.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color);
}
.link-contact{
    color: inherit;
}
.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}


/* секция героя */
.hero{
    background-color: var(--background-durk-color);
}
.hero-header{
    color: var(--background-whitetext-color);

    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    color: var(--background-whitetext-color);
    background-color: aqua;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    text-align: center;
    letter-spacing: 0.06em;
    
}
.hero-button:focus,
.hero-button:hover {
    background-color: var(--accent-color);
}
.hero-button{
    cursor: pointer;
}

.page-stronges {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}



/* секция что мы делаем */
.text-strong {
    color: var(--text-color);


    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* секция чем мы занимаемся */
.what-we-do{
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* секция наша команда */
.team{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}

.our-team {
    background-color: var(--background-grey-color);
}

.team-names{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
    text-align: center;
}



.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}



/* секция футера */
.footer{
    background-color: var(--background-durk-color);
}
.logo-footer{
    color: var(--background-whitetext-color);
}
.adress-text{
    color: var(--background-whitetext-color);
}
.address-list {
    font-style: normal;
}
.link-footer{
    color: var(--footer-contact-color)
}
.adress-text:hover,
.adress-text:focus {
    color: var(--accent-color);
}
.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
}
.footer-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}


/*////////////////// стили портфолио //////////////////// */

.portfolio-button{
    color: var(--headers-color);
    background-color: var(--background-grey-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.portfolio-button:hover,
.portfolio-button:focus{
    color: var(--background-whitetext-color);
    background-color: var(--accent-color);
}
/* .btn-portfolio{


    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
} */
.portfolio-button {
    cursor: pointer;
}

.names-galery{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
;
}


.name {
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}